.logo {
    width: 60px; /* Increased size */
    height: 60px; /* Increased size */
    margin-right: 10px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

    header h1 {
        font-size: 1.5em;
        color: #eee;
    }

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    display: flex;
    align-items: center;
}

.sender {
    font-size: 0.8em;
    font-weight: bold; /* Make the assistant's name bold */
    color: #aaa;
    margin-right: 10px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.full-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #111;
    color: #eee;
}

.chat-container {
    width: 80%;
    max-width: 600px;
    height: 60vh; /* Adjust as needed */
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}

.assistant-message {
    background-color: #222;
    color: #eee;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.user-message {
    background-color: #FE857A; /* Changed color */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.message-form {
    display: flex;
    width: 80%;
    max-width: 600px;
}

    .message-form input[type="text"] {
        flex: 1;
        padding: 10px;
        border: 1px solid #666;
        border-radius: 5px;
        font-size: 16px;
        margin-right: 10px;
        color: #eee;
        background-color: #222;
        font-family: 'Inter', sans-serif;
    }


    .message-form button {
        padding: 10px 20px;
        border: none;
        background-color: #FE857A; /* Changed color */
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }

    .message-form button:hover {
        background-color: #e6645b; /* Lighter shade for hover effect */
    }
